.lightcontainer {
  
    //display: none;
  
    width: 100vw;
    height: 150vh;
  
    position: static;
    left: 0;
    top: 0;
  
    background-color: #070707;
   
    background-repeat: no-repeat;
  
    background-position: 60px center;
    background-size: 76vh;
  
    z-index: 5000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    //-webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    //justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: left;
    grid-column-gap: 100px;
    margin-top: 10px;
    flex-direction: row;
 
}

.lightcontainer_close { 
    position: static; 
    bottom: 20px;
    left: 95%;
    cursor: pointer;
    margin-top: 5em;
    margin-right: 0em;
    width: 25px;
  }


  
  .lightcontainer_close:hover { 
    opacity: 0.7; 
    transform: scale(-1, 1); 
  }
  
  .lightcontainer article { 
    width: 55%; 
    margin-left: 40%;
    padding-top: 50px;
  }
  
  .lb_text, .lb_heading { 
    text-align: left; 
    color: #fff;
  }

  
  
  .lb_text { 
    line-height: 2.6 !important;
    margin: 10px;
    padding: 0.2em;
    table-layout: fixed;
    width: 200px;
    color: #fff;
    font-size: 14px;
  }

  


  .lb_topic { 
    line-height: 1.6 !important;
    margin-top: 2em;
    margin-bottom: 30px;
   
    margin-left: 10px;
    table-layout: fixed;
	  
    color: #fff;
    text-align: left; 
    font-size: 20px;;
  }

  .lb_heading { 
    line-height: 1.6 !important;
    margin: 10px;
    padding: .2em;
    table-layout: fixed;
	  
    color: #fff;
    text-align: left; 
    font-size: 16px;;
  }



  .lightbox-container {
    width: 100%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .lightbox-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-column-gap: 40px;
    margin-top: 40px;
    flex-direction: row;
  }

  @media screen and (max-width: 640px) {


    .lightbox-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      grid-column-gap: 40px;
      margin-top: 40px;
      flex-direction: row;
      
    }

  .lightcontainer {
  
    //display: none;
  
    width: 50%;
    height: 70%;
    position: relative;
    left: 0;
    top: 0;
  
    background-color: #070707;
   
    background-repeat: no-repeat;
  
    background-position: 60px center;
    background-size: 76vh;
  
    z-index: 5000;
    //display: -webkit-box;
    //display: -webkit-flex;
    //display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    //-webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    //justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: left;
    grid-column-gap: 15px;
    margin-top: 10px;
    flex-direction: row;
    width: 430px;
 
}
  
  .lightcontainer_close { 
      position: relative; 
      top: 20px;
      right: 95%;
      cursor: pointer;
    
      width: 25px;
    }
  
  
    
    .lightcontainer_close:hover { 
      opacity: 0.7; 
      transform: scale(-1, 1); 
    }
    
    .lightcontainer article { 
      width: 55%; 
      margin-left: 40%;
      padding-top: 50px;
    }
    
    .lb_text, .lb_heading { 
      text-align: left; 
      color: #fff;
    }
  
    
    
    .lb_text { 
      line-height: 2.6 !important;
      margin: 10px;
      padding: 0.2em;
      table-layout: fixed;
      width: 200px;
      color: #fff;
      font-size: 9px;
     
    }
  
    
  
  
    .lb_topic { 
      line-height: 1.6 !important;
      margin-left: 10px;
      table-layout: fixed;
     
      color: #fff;
      text-align: left; 
      font-size: 16px;;
    }
  
    .lb_heading { 
      line-height: 1.6 !important;
      margin: 10px;
      padding: .2em;
      table-layout: fixed;
     
      color: #fff;
      text-align: left; 
      font-size: 13px;;
    }
  
  
  
  }
