@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Lobster&display=swap');

.hidden {display: none;}



body { 
  font-family: sans-serif;
  color: #282c28;
  background-color: #fff; 
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    margin-bottom: 0.3em;
  }

